html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: inherit;
}

.btnStyle1 {
    background: #ff416c;
    background: -webkit-linear-gradient(to right, #ff416c, #ff4b2b);
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    color: white;
    text-align: center;
    padding: 0.3em 1em;
    border-radius: 30px;
    transition: 0.3s all ease-in-out;
}

.btnStyle1:hover {
    transform: scale(0.9);
}

.wrapper {
    width: 1000px;
    min-height: 300px;
    max-height: 600px;  
    border: 1px solid rgb(245 245 245);
    border-radius: 10px;
    color: #000;
    -webkit-box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5); 
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
}

.wrapperBody {
    max-height: 500px;
    padding: 0 1em 1em 1em;
    overflow: auto;
}